<div class="container mt-5">
  
  <h2>Productos</h2>
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Id</th>
          <th>Descripcion</th>
          <th>Precio de Compra</th>
          <th>Precio de Venta</th>
          <th>Ganacia</th>
          <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of Productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio_compra }}</td>
        <td>{{ producto.precio_venta }}</td>
        <td>{{ producto.ganancia }}</td>
        <td>
          <a>  
            <a class="waves-effect waves-light btn-small" (click)="mostrar()" 
            style="height: 25px !important;width: 100px;margin-bottom: 9px !important;margin-right: 2px; font-size: 11px;">Ver mas</a>
         </a>
        </td>


      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
